.DS_Store
*/.DS_Store
Advanced_Biostatistics/HW1/Dataset/LIHC_counts.csv
Advanced_Biostatistics/HW1/Dataset/LIHC_phenotypes.csv
Advanced_Biostatistics/HW1/Dataset/prostate_counts.csv
Advanced_Biostatistics/HW1/Dataset/prostate_phenotypes.csv
Advanced_Biostatistics/HW1/Dataset/thyroid_counts.csv
Advanced_Biostatistics/HW1/Dataset/thyroid_phenotypes.csv
*.Rproj.user*
*.Rproj*
.Rproj.user
